@page "/admin/purchase"
@inherits OwningComponentBase<ICheckoutRepository>

<PurchaseTable TableTitle="Unshipped Purchase" Checkouts="UnshippedPurchase"
               ButtonLabel="Shipped" PurchaseSelected="CollectPurchase"></PurchaseTable>

<PurchaseTable TableTitle="Shipped Purchase" Checkouts="ShippedPurchase"
               ButtonLabel="Reset" PurchaseSelected="ResetPurchase"></PurchaseTable>

<button class="btn btn-info" @onclick="@(x => UpdateData())">Refresh Data</button>

@code{ 
    public ICheckoutRepository repo => Service;

    public IEnumerable<Checkout> AllPurchase { get; set; }
    public IEnumerable<Checkout> UnshippedPurchase { get; set; }
    public IEnumerable<Checkout> ShippedPurchase { get; set; }

    protected async override Task OnInitializedAsync()
    {
        await UpdateData();
    }

    public async Task UpdateData()
    {
        AllPurchase = await repo.Checkouts.ToListAsync();
        UnshippedPurchase = AllPurchase.Where(x => !x.PurchaseShipped);
        ShippedPurchase = AllPurchase.Where(x => x.PurchaseShipped);
    }

    public void CollectPurchase(int id) => UpdatePurchase(id, true);
    public void ResetPurchase(int id) => UpdatePurchase(id, false);

    public void UpdatePurchase(int id, bool shipped)
    {
        Checkout c = repo.Checkouts.FirstOrDefault(x => x.CheckoutId == id);
        c.PurchaseShipped = shipped;
        repo.SaveCheckout(c);
    }
}