@page
@model Bookstore.Pages.CheckoutConfirmationModel
@{
}

<div class="text-center">
    <h2>Your order is submitted!</h2>
    <a class="btn btn-primary" asp-controller="Home">Return Home</a>
</div>